/* Navbar styling */
 body{
    background-image: url(background.jpg);
 }

.navbar {
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 15px 30px;
  display: flex;
}

.navbar .logo {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2px;
   color: white;
}

.navbar ul {
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
   color: white;
}

.navbar ul li a:hover {
 color: #f39c12; /* Golden hovebr effect */
}


    /* About Section */
    .about-section {
      max-width: 1100px;
      margin: auto;
      padding: 60px 20px;
        
    
    }
    .about-section h1 {
      font-size: 2.5rem;
      margin-bottom: 20px;
      text-align: center;
      color: #222;
    }
    .about-content {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
    }
    .about-box {
      background: white;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      padding: 20px;
      flex: 1 1 300px;
      transition: 0.3s;
    }
    .about-box:hover {
      transform: translateY(-5px);
    }
    .skills span {
      display: inline-block;
      background:  #f39c12;
      color: white;
      padding: 6px 12px;
      border-radius: 20px;
      margin: 5px;
      font-size: 14px;
       
    }
    .project-card {
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 15px;
      margin: 10px 0;
      transition: 0.3s;
    }
    .project-card:hover {
      border-color:  #f39c12;
      box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    }
    .project-card h3 {
      margin: 5px 0;
      color: #f39c12;
    }

    /* Footer */
    footer {
      background: #000;
      color: white;
      text-align: center;
      padding: 20px;
      margin-top: 40px;
    }
    
    .about-section {
      max-width: 1100px;
      margin: auto;
      padding: 50px 20px;
    }

    .about-section h1 {
      font-size: 2.5rem;
      margin-bottom: 20px;
      text-align: center;
      color: #222;
    }

    .about-content {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
    }

    .about-box {
      background: white;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      padding: 20px;
      flex: 1 1 300px;
      transition: 0.3s;
    }

    .about-box:hover {
      transform: translateY(-5px);
    }